<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="validating user login">
    <classes>
      <class name="preview.croydon.Homepage"/>
      </classes>
      </test>
      <test thread-count="5" name="Validating Title in the page"> 
      <classes>
      <class name="preview.croydon.ValidateTitle"/>
      </classes>
      </test>
       <test thread-count="5" name="Validating Navigationbarin the page"> 
        <classes>
       
      <class name="preview.croydon.ValidateNavigationbar"/>
    </classes>
  </test> 
</suite> 
